RewriteEngine on

# Exclude requests for existing files, directories, and symbolic links
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php [L]
